#fxt-curToolTip {
    transition: opacity 250ms ease-in-out;
    max-width: 200px;
    max-height: 70px;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--contrast);
    box-shadow: 0 0 10px 5px #00000046;
    color: var(--bg);
    border-radius: 10px;
    font-weight: bold;
    transition: opacity .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
    z-index: 9999;
    white-space: normal;
    display: flex;
    align-items: center;
    font-family: var(--head-font);
    position: absolute;
    padding: 7px 15px;
}

.light-mode #fxt-curToolTip {
    box-shadow: 0 0 10px 1px #00000021;
}